Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*

feat(resources): document resources
  packages/resources/src/resources/abort-resource.ts
  packages/resources/src/resources/promise-resource.ts
  packages/resources/src/resources/resource.ts
Labels: none

feat(api): effect mode by default
  packages/api/src/api.ts
  samples/src/ApiData.tsx
Labels: api

feat(api): $api key builder
  packages/api/src/api.ts
Labels: api

feat(api): add test for $api in effect mode
  packages/api/package.json
  packages/api/tests/api.test.ts
  yarn.lock
Labels: api

chore(deps): update jest monorepo
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update typescript-eslint monorepo to v5.23.0
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

feat(graphql): rework $gql as wrap of $api
  packages/graphql/src/gql.ts
Labels: graphql

chore(deps): update dependency @types/jest to v27.5.1
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

feat(graphql): complete $gql wrap
  packages/api/src/api.ts
  packages/graphql/src/gql.ts
  packages/graphql/src/types/response.ts
Labels: api, graphql

feat(samples): use graphql to request data
  packages/graphql/gulpfile.js
  packages/graphql/src/index.ts
  packages/graphql/src/utils/document.ts
  samples/package.json
  samples/src/App.tsx
  samples/src/GqlData.tsx
  yarn.lock
Labels: graphql

chore(deps): update dependency @types/node to v16.11.35
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency rollup to v2.73.0
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

feat(graphql): wrap prefetch
  packages/graphql/src/gql.ts
Labels: graphql

fix(api): tests
  packages/api/tests/api.test.ts
Labels: api

chore(graphql): remove old code
  packages/graphql/old/gql-resource.ts
  packages/graphql/old/gql/index.ts
  packages/graphql/old/gql/useGqlAutoLoad.ts
  packages/graphql/old/gql/useGqlHttp.ts
  packages/graphql/old/gql/useGqlWs.ts
  packages/graphql/old/index.ts
  packages/graphql/old/types.ts
  packages/graphql/old/utils.ts
  packages/graphql/old/ws/GqlWsClient.tsx
  packages/graphql/old/ws/GqlWsClientContext.ts
  packages/graphql/old/ws/index.ts
  packages/graphql/src/graphql.ts
  packages/graphql/src/index.ts
  packages/graphql/tests/old/gql-resource.test.ts
  packages/graphql/tests/old/gql/useGqlAutoLoad.test.ts
  packages/graphql/tests/old/gql/useGqlHttp.test.ts
  packages/graphql/tests/old/gql/useGqlWs.test.tsx
  packages/graphql/tests/old/types.ts
  packages/graphql/tests/old/ws/GqlWsClient.test.tsx
Labels: graphql

chore: add publish next pipeline
  .github/workflows/publish-next.yml
Labels: none
