Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

chore(deps): update dependency axios to v0.23.0
  packages/api/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore: no sonarcloud for renovate
  .github/workflows/pull-request.yml
Labels: none

update(api): use AbortController instead of CancelToken
  packages/api/package.json
  packages/api/src/api-promise.ts
  packages/api/src/api/request-api-promise.ts
  packages/api/src/api/useApiDelete.ts
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/src/api/useApiPatch.ts
  packages/api/src/api/useApiPost.ts
  packages/api/src/api/useApiPut.ts
  packages/api/src/api/useDeleteRequest.ts
  packages/api/src/api/useGetRequest.ts
  packages/api/src/api/usePostRequest.ts
  packages/api/src/index.ts
  yarn.lock
Labels: api

update(graphql): use AbortController instead of CancelToken
  packages/graphql/package.json
  packages/graphql/src/gql/useMutationRequest.ts
  packages/graphql/src/gql/useQueryRequest.ts
Labels: graphql

fix(api): tests
  packages/api/tests/api/useApi.test.ts
  packages/api/tests/api/useDeleteRequest.test.ts
  packages/api/tests/api/useGetRequest.test.tsx
  packages/api/tests/api/usePostRequest.test.ts
Labels: api

fix(graphql): tests
  packages/graphql/tests/gql/useMutationRequest.test.tsx
  packages/graphql/tests/gql/useQueryRequest.test.tsx
Labels: graphql

chore: setup version update
  .yarn/versions/9ae69eb2.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/9ae69eb2.yml
  packages/api/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

fix(api): lint errors
  packages/api/tests/api-promise.test.ts
  packages/api/tests/api-resource.test.ts
  packages/api/tests/api/useApi.test.ts
  packages/api/tests/api/useDeleteRequest.test.ts
  packages/api/tests/api/usePostRequest.test.ts
  packages/api/tests/cache/SwrCache.test.tsx
Labels: api

fix(graphql): lint errors
  packages/graphql/tests/utils.test.tsx
Labels: graphql

chore(deps): update dependency eslint-plugin-jest to v25
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

fix: lockfile
  yarn.lock
Labels: none

chore(deps): update dependency eslint-plugin-jest to v25.0.6
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/react to v17.0.30
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-jest to v25.1.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-jest to v25.2.1
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update actions/checkout action to v2.3.5
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

update: rework api get state
  .idea/inspectionProfiles/Project_Default.xml
  packages/api/src/api/useGetRequest.ts
  packages/api/src/cache/useSwrCache.ts
  packages/api/src/types.ts
  packages/api/tests/api/useGetRequest.test.tsx
  packages/api/tests/cache/SwrCache.test.tsx
  packages/api/tests/cache/useSwrCache.test.tsx
Labels: api

chore(deps): update dependency ts-jest to v27.0.7
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

update: rework api delete/post state
  packages/api/src/api/request-api-promise.ts
  packages/api/src/api/useDeleteRequest.ts
  packages/api/src/api/usePostRequest.ts
  packages/api/tests/api/useDeleteRequest.test.ts
  packages/api/tests/api/usePostRequest.test.ts
Labels: api

update: rework api resource
  packages/api/src/api-resource.ts
  packages/api/tests/api-resource.test.ts
  packages/api/tests/api/useApi.test.ts
  packages/api/tests/api/useGetRequest.test.tsx
Labels: api

update(graphql): rework gql query
  .idea/runConfigurations/build__alma_api_.xml
  packages/graphql/src/gql/useQueryRequest.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/gql/useQueryRequest.test.tsx
Labels: graphql

update(graphql): rework gql mutation
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/useMutationRequest.ts
  packages/graphql/tests/gql-resource.test.ts
  packages/graphql/tests/gql/useMutationRequest.test.tsx
Labels: graphql

chore: setup version update
  .yarn/versions/a3eb2799.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/a3eb2799.yml
  packages/api/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore(deps): update dependency jest to v27.3.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

update(api): add send method to get hooks
  packages/api/src/api-resource.ts
  packages/api/src/api/request-api-promise.ts
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/src/api/useDeleteRequest.ts
  packages/api/src/api/useGetRequest.ts
  packages/api/src/api/usePostRequest.ts
  packages/api/tests/api/useApi.test.ts
  packages/api/tests/api/useGetRequest.test.tsx
Labels: api

update(api): rework api resource
  packages/api/src/api-resource.ts
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/src/api/useGetRequest.ts
Labels: api

feat(api): rework api resource hook methods
  packages/api/src/api-resource.ts
Labels: api

feat(api): add useApiRequest generic hook
  packages/api/src/api/index.ts
  packages/api/src/api/useApiRequest.ts
  packages/api/src/api/useGetRequest.ts
  packages/api/src/cache/SwrCache.tsx
  packages/api/src/cache/useSwrCache.ts
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/api/src/utils.ts
  packages/api/tests/api/useApi.test.ts
  packages/api/tests/api/useApiGet.test.ts
  packages/api/tests/api/useApiRequest.test.ts
  packages/api/tests/api/useGetRequest.test.tsx
  packages/api/tests/cache/useSwrCache.test.tsx
Labels: api

feat(api): rework api resource
  packages/api/src/api-resource.ts
  packages/api/src/api/index.ts
  packages/api/src/api/useApiAutoLoad.ts
  packages/api/src/index.ts
Labels: api

feat(api): rework delete hook
  packages/api/src/api/index.ts
  packages/api/src/api/useApiDelete.ts
  packages/api/src/api/useDeleteRequest.ts
  packages/api/tests/api/useApiDelete.test.ts
  packages/api/tests/api/useApiOptions.test.ts
  packages/api/tests/api/useDeleteRequest.test.ts
Labels: api

update(api): test auto load hook
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
Labels: api

feat(api): clean code
  packages/api/src/api/request-api-promise.ts
  packages/api/src/cache/useSwrCache.ts
  packages/api/src/types.ts
  packages/api/src/utils.ts
  packages/api/tests/api-promise.test.ts
  packages/api/tests/api-resource.ts
  packages/api/tests/api/useApiDelete.test.ts
  packages/api/tests/api/useApiGet.test.ts
  packages/api/tests/api/useApiHead.test.ts
  packages/api/tests/api/useApiOptions.test.ts
  packages/api/tests/api/useApiPatch.test.ts
  packages/api/tests/api/useApiPost.test.ts
  packages/api/tests/api/useApiPut.test.ts
  packages/api/tests/api/useApiRequest.test.ts
Labels: api

feat(api): rework patch/post/put hooks
  packages/api/src/api/index.ts
  packages/api/src/api/useApiPatch.ts
  packages/api/src/api/useApiPost.ts
  packages/api/src/api/useApiPut.ts
  packages/api/src/api/usePostRequest.ts
  packages/api/tests/api/useApiPatch.test.ts
  packages/api/tests/api/useApiPost.test.ts
  packages/api/tests/api/useApiPut.test.ts
  packages/api/tests/api/usePostRequest.test.ts
Labels: api

feat(api): rework get/head/options hooks
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/src/api/useGetRequest.ts
  packages/api/tests/api/useApiHead.test.ts
  packages/api/tests/api/useApiOptions.test.ts
  packages/api/tests/api/useGetRequest.test.tsx
Labels: api

feat(api): align useApiGet with useApiHead/Options
  packages/api/src/api/useApiGet.ts
Labels: api

feat(api): add mutate method to apiResource
  packages/api/src/api-resource.ts
  packages/api/tests/api-resource.test.ts
Labels: api

feat(api): add useApiAutoLoad
  packages/api/src/index.ts
  packages/api/src/useApiAutoLoad.ts
Labels: api

update(api): test auto load hook
  packages/api/src/api-resource.ts
  packages/api/src/api/useApiAutoLoad.ts
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/tests/api/useApiAutoLoad.test.ts
Labels: api

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*
