Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

feat(graphql): rollup bundle
  packages/graphql/gulpfile.ts
  packages/graphql/package.json
  yarn.lock
Labels: graphql

chore: setup version bump
  .yarn/versions/cd766f92.yml
Labels: none

chore(deps): pin dependency @rollup/plugin-commonjs to 21.0.3
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore: update bundles & version numbers
  .yarn/versions/cd766f92.yml
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-testing-library to v5.2.1
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(utils): rework exports
  packages/utils/.babelrc.cjs
  packages/utils/.npmignore
  packages/utils/gulpfile.js
  packages/utils/jest.config.js
  packages/utils/package.json
  tools/.gitignore
  tools/package.json
  yarn.lock
Labels: utils

chore(api): rework exports
  packages/api/.babelrc.cjs
  packages/api/.npmignore
  packages/api/gulpfile.js
  packages/api/jest.config.js
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(axios): rework exports
  packages/axios/.babelrc.cjs
  packages/axios/.npmignore
  packages/axios/gulpfile.js
  packages/axios/jest.config.js
  packages/axios/package.json
Labels: none

chore(graphql): rework exports
  packages/graphql/.babelrc.cjs
  packages/graphql/.npmignore
  packages/graphql/gulpfile.js
  packages/graphql/jest.config.js
  packages/graphql/package.json
Labels: graphql

chore(deps): update dependency @types/node to v16
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

fix(api): fetcher tests
  packages/api/tests/config/fetcher.test.ts
Labels: api

chore(deps): update typescript-eslint monorepo to v5.18.0
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @testing-library/jest-dom to v5.16.4
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update babel monorepo to v7.17.9
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

feat(resources): test Resource
  packages/resources/src/resource.ts
  packages/resources/tests/.gitkeep
  packages/resources/tests/resource.test.ts
Labels: none

feat(resources): enforce typings
  .idea/runConfigurations/build__alma_resources_.xml
  packages/resources/src/resource.ts
  packages/resources/src/useResourceStatus.ts
Labels: none

chore(resources): optimize bundle
  packages/resources/gulpfile.js
Labels: none

feat(resources): test useResourceStatus
  .idea/runConfigurations/All_Tests__resources_.xml
  packages/resources/tests/useResourceStatus.test.ts
Labels: none

feat(resources): useWarehouse & WarehouseKeeper
  packages/resources/src/WarehouseKeeper.tsx
  packages/resources/src/index.ts
  packages/resources/src/useWarehouse.ts
  packages/resources/tests/useWarehouse.test.tsx
Labels: none

feat(resources): Resource first shot
  packages/resources/src/resource.ts
  packages/resources/src/useResourceStatus.ts
  packages/resources/tsconfig.json
Labels: none

feat(resources): warehouse
  packages/resources/src/index.ts
  packages/resources/src/warehouse.ts
  packages/resources/tests/warehouse.test.ts
Labels: none

chore: setup promises package
  .idea/alma.iml
  packages/promises/.babelrc.cjs
  packages/promises/.eslintrc.json
  packages/promises/.gitignore
  packages/promises/README.md
  packages/promises/gulpfile.js
  packages/promises/jest.config.js
  packages/promises/package.json
  packages/promises/setup-tests.ts
  packages/promises/sonar-project.properties
  packages/promises/src/index.ts
  packages/promises/tests/.gitkeep
  packages/promises/tsconfig.json
  yarn.lock
Labels: none

feat(resources): jsdoc
  packages/resources/src/resource.ts
  packages/resources/src/useResourceStatus.ts
Labels: none

feat(resources): useResource
  packages/resources/src/index.ts
  packages/resources/src/useResource.ts
  packages/resources/tests/useResource.test.tsx
  packages/resources/tests/useWarehouse.test.tsx
  packages/resources/tests/warehouse.test.ts
Labels: none

feat(resources): add export
  packages/resources/.babelrc.cjs
  packages/resources/package.json
  packages/resources/src/index.ts
  yarn.lock
Labels: none

chore: rename promises to resources
  .idea/alma.iml
  packages/promises/README.md
  packages/resources/.babelrc.cjs
  packages/resources/.eslintrc.json
  packages/resources/.gitignore
  packages/resources/README.md
  packages/resources/gulpfile.js
  packages/resources/jest.config.js
  packages/resources/package.json
  packages/resources/setup-tests.ts
  packages/resources/sonar-project.properties
  packages/resources/src/index.ts
  packages/resources/tests/.gitkeep
  packages/resources/tsconfig.json
  yarn.lock
Labels: none

chore: fix lockfile
  yarn.lock
Labels: none

chore: upgrade pipeline to node 16
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore: fix lockfile
  yarn.lock
Labels: none

chore: setup version bump
  .yarn/versions/215901b1.yml
Labels: none

chore(deps): update dependency @types/react to v17.0.44
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore: update react typings and optimize bundles
  .yarn/versions/89e99c37.yml
  packages/api/gulpfile.js
  packages/api/package.json
  packages/axios/gulpfile.js
  packages/axios/package.json
  packages/graphql/gulpfile.js
  packages/graphql/package.json
  packages/resources/package.json
  packages/resources/src/WarehouseKeeper.tsx
  packages/resources/tsconfig.json
  packages/utils/gulpfile.js
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore: update bundles & version numbers
  .yarn/versions/215901b1.yml
  .yarn/versions/89e99c37.yml
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-jest to v26.1.4
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

feat(api): simplify useApiAutoLoad interface
  packages/api/package.json
  packages/api/src/AlmaApiSetup.tsx
  packages/api/src/api-resource.ts
  packages/api/src/api/useApiAutoLoad.ts
  packages/api/src/api/useApiDelete.ts
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/src/api/useApiPatch.ts
  packages/api/src/api/useApiPost.ts
  packages/api/src/api/useApiPut.ts
  packages/api/src/cache/SwrCache.tsx
  packages/api/src/config/ApiConfig.tsx
  packages/api/src/types.ts
  packages/api/tests/api-resource.test.ts
  packages/api/tests/api/useApiAutoLoad.test.ts
  packages/api/tests/cache/SwrCache.test.tsx
  packages/api/tests/cache/useSwrCache.test.tsx
  yarn.lock
Labels: api

chore: upgrade @types/react
  packages/axios/package.json
  packages/graphql/package.json
  packages/graphql/src/ws/GqlWsClient.tsx
  yarn.lock
Labels: graphql

chore: setup version bump
  .yarn/versions/d797eaad.yml
Labels: none

fix: graphql tests
  packages/graphql/tests/gql/useGqlWs.test.tsx
  packages/graphql/tests/ws/GqlWsClient.test.tsx
Labels: graphql

chore: update bundles & version numbers
  .yarn/versions/d797eaad.yml
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore(deps): update dependency eslint to v8.13.0
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*
