Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

update: rename return type to D (data)
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/useGqlMutation.ts
  packages/graphql/src/gql/useGqlQuery.ts
  packages/graphql/src/gql/useMutationRequest.ts
  packages/graphql/src/gql/useQueryRequest.ts
  packages/graphql/src/types.ts
Labels: graphql

chore: update bundles & version numbers
  .yarn/versions/6d3dae9e.yml
  .yarn/versions/db9d4f22.yml
  packages/api/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

update(utils): setup gulp
  packages/utils/.babelrc
  packages/utils/.eslintrc.json
  packages/utils/.npmignore
  packages/utils/gulpfile.js
  packages/utils/package.json
  packages/utils/tsconfig.cjs.json
  packages/utils/tsconfig.esm.json
  packages/utils/tsconfig.json
  yarn.lock
Labels: utils

update(graphql): setup gulp
  packages/graphql/.babelrc
  packages/graphql/.eslintrc.json
  packages/graphql/.npmignore
  packages/graphql/gulpfile.js
  packages/graphql/package.json
  packages/graphql/tsconfig.cjs.json
  packages/graphql/tsconfig.esm.json
  packages/graphql/tsconfig.json
  yarn.lock
Labels: graphql

update(api): setup gulp
  packages/api/.babelrc
  packages/api/.eslintrc.json
  packages/api/.npmignore
  packages/api/gulpfile.js
  packages/api/package.json
  packages/api/tsconfig.cjs.json
  packages/api/tsconfig.esm.json
  packages/api/tsconfig.json
  yarn.lock
Labels: api

chore: setup version update
  .yarn/versions/716576ea.yml
Labels: none

chore: add babel react preset
  packages/api/.babelrc
  packages/api/gulpfile.js
  packages/api/package.json
  packages/api/tests/api/useApi.test.ts
  packages/graphql/.babelrc
  packages/graphql/gulpfile.js
  packages/graphql/package.json
  packages/utils/.babelrc
  packages/utils/gulpfile.js
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore: fix eslint config
  .eslintrc.json
  packages/api/.eslintrc.json
  packages/graphql/.eslintrc.json
  packages/utils/.eslintrc.json
Labels: api, graphql, utils

chore(deps): update babel monorepo to v7.15.8
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency jest to v27.2.5
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore: fix error in transformed code
  .yarn/versions/716576ea.yml
  packages/api/.babelrc
  packages/api/package.json
  packages/graphql/.babelrc
  packages/graphql/package.json
  packages/utils/.babelrc
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

add(graphql): gqlDoc util to type graphql documents
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/useGqlMutation.ts
  packages/graphql/src/gql/useGqlQuery.ts
  packages/graphql/src/gql/useMutationRequest.ts
  packages/graphql/src/gql/useQueryRequest.ts
  packages/graphql/src/index.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils.ts
  packages/graphql/tests/gql-resource.test.ts
  packages/graphql/tests/gql/useGqlMutation.test.tsx
  packages/graphql/tests/gql/useGqlQuery.test.tsx
Labels: graphql

chore: setup version update
  .yarn/versions/40ab2a01.yml
Labels: none

fix(graphql): tests
  packages/graphql/tests/gql-resource.test.ts
  packages/graphql/tests/utils.test.tsx
Labels: graphql

chore: update bundles & version numbers
  .yarn/versions/40ab2a01.yml
  packages/graphql/package.json
Labels: graphql

add(graphql): subscription context
  packages/graphql/src/sub/GqlSubscriptionContext.ts
  packages/graphql/src/sub/messages.ts
  yarn.lock
Labels: graphql

add(graphql): subscription client
  packages/graphql/src/sub/GqlSubscriptionClient.tsx
  packages/graphql/src/sub/GqlSubscriptionContext.ts
  packages/graphql/src/sub/messages.ts
Labels: graphql

update(api): simplify swr cache code
  packages/api/src/cache/SwrCache.tsx
Labels: api

update(graphql): split out useSubscriptionRequest
  packages/graphql/src/gql/useSubscriptionRequest.ts
  packages/graphql/src/sub/GqlSubscriptionContext.ts
  packages/graphql/src/sub/index.ts
Labels: graphql

update(graphql): add useGqlSubscription hook
  packages/graphql/package.json
  packages/graphql/src/gql/index.ts
  packages/graphql/src/gql/useGqlSubscription.ts
  packages/graphql/src/gql/useSubscriptionRequest.ts
  yarn.lock
Labels: graphql

chore: setup version update
  .yarn/versions/e44ac315.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/e44ac315.yml
  packages/graphql/package.json
Labels: graphql

update(graphql): rework subscriptions on graphql-ws
  packages/graphql/package.json
  packages/graphql/src/gql/useGqlSubscription.ts
  packages/graphql/src/gql/useSubscriptionRequest.ts
  packages/graphql/src/index.ts
  packages/graphql/src/sub/GqlSubscriptionClient.tsx
  packages/graphql/src/sub/GqlSubscriptionContext.ts
  packages/graphql/src/sub/index.ts
  packages/graphql/src/sub/messages.ts
  yarn.lock
Labels: graphql

chore(deps): update dependency eslint-plugin-jest to v24.7.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

add(graphql): subscribe method to gqlResource
  packages/graphql/src/gql-resource.ts
  yarn.lock
Labels: graphql

chore: setup version update
  .yarn/versions/d7f7c9df.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/d7f7c9df.yml
  packages/graphql/package.json
Labels: graphql

update(api): add cached attribute to break setCache-setState loop
  packages/api/src/api/useDeleteRequest.ts
  packages/api/src/api/useGetRequest.ts
  packages/api/src/api/usePostRequest.ts
  packages/api/src/types.ts
Labels: api

update(api): add cached attribute to break setCache-setState loop
  packages/api/src/api-promise.ts
  packages/api/src/api/useGetRequest.ts
  packages/api/tests/api-resource.test.ts
  packages/api/tests/api/useApi.test.ts
  packages/api/tests/api/useDeleteRequest.test.ts
  packages/api/tests/api/useGetRequest.test.tsx
  packages/api/tests/api/usePostRequest.test.ts
Labels: api

fix(graphql): propagate cached in query/mutation results
  packages/graphql/src/gql/useMutationRequest.ts
  packages/graphql/src/gql/useQueryRequest.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/gql-resource.test.ts
  packages/graphql/tests/gql/useGqlMutation.test.tsx
  packages/graphql/tests/gql/useGqlQuery.test.tsx
  packages/graphql/tests/gql/useMutationRequest.test.tsx
  packages/graphql/tests/gql/useQueryRequest.test.tsx
Labels: graphql

chore: setup version update
  .yarn/versions/a7820a0a.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/a7820a0a.yml
  packages/api/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

update(api): rework swr cache logic
  packages/api/src/cache/SwrCache.tsx
  packages/api/src/cache/SwrCacheContext.ts
  packages/api/src/cache/index.ts
  packages/api/src/cache/useSwrCache.ts
  packages/api/src/types.ts
  packages/api/tests/cache/SwrCache.test.tsx
  packages/api/tests/cache/useSwrCache.test.tsx
Labels: api

update(api): adapt api hooks
  packages/api/src/api-promise.ts
  packages/api/src/api/useDeleteRequest.ts
  packages/api/src/api/useGetRequest.ts
  packages/api/src/api/usePostRequest.ts
  packages/api/src/types.ts
  packages/api/tests/api-resource.test.ts
  packages/api/tests/api/useApi.test.ts
  packages/api/tests/api/useDeleteRequest.test.ts
  packages/api/tests/api/useGetRequest.test.tsx
  packages/api/tests/api/usePostRequest.test.ts
Labels: api

update(graphql): remove cached property
  packages/graphql/src/gql/useMutationRequest.ts
  packages/graphql/src/gql/useQueryRequest.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/gql-resource.test.ts
  packages/graphql/tests/gql/useGqlMutation.test.tsx
  packages/graphql/tests/gql/useGqlQuery.test.tsx
  packages/graphql/tests/gql/useMutationRequest.test.tsx
  packages/graphql/tests/gql/useQueryRequest.test.tsx
Labels: graphql

chore: setup version update
  .yarn/versions/db14cb33.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/db14cb33.yml
  packages/api/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore(deps): update typescript-eslint monorepo to v5
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/react to v17.0.29
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency typescript to v4.4.4
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*
