Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

test(api): test apiResource hook builder
  .idea/codeStyles/Project.xml
  packages/api/src/api-resource.ts
  packages/api/src/utils.ts
  packages/api/tests/api-resource.test.ts
  packages/api/tests/api-resource.ts
  packages/api/tests/utils.test.ts
  packages/api/tests/utils.ts
Labels: api

chore: update api version
  packages/api/package.json
  yarn.lock
Labels: api

chore: setup version update
  .yarn/versions/0ca0fd44.yml
Labels: none

chore: lockfile
  yarn.lock
Labels: none

chore(deps): update typescript-eslint monorepo to v5.1.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency jest to v27.3.1
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

feat(api): remove useApi
  packages/api/src/api/index.ts
  packages/api/src/api/useApi.ts
Labels: api

chore: setup version update
  .yarn/versions/4bced109.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/0ca0fd44.yml
  .yarn/versions/4bced109.yml
  packages/api/package.json
Labels: api

fix(api): import error
  packages/api/src/cache/useSwrCache.ts
Labels: api

chore: setup version update
  .yarn/versions/f141cde3.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/f141cde3.yml
  packages/api/package.json
Labels: api

chore(deps): update dependency @jujulego/jill to v1.1.4
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency @types/react to v17.0.31
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

feat(api): rename auto load update to setData
  packages/api/src/api/useApiAutoLoad.ts
Labels: api

chore: setup version update
  .yarn/versions/58c5f343.yml
Labels: none

fix(api): auto load tests
  packages/api/tests/api/useApiAutoLoad.test.ts
Labels: api

fix(api): api-resource calls to auto load hook
  packages/api/src/api-resource.ts
  packages/api/tests/api-resource.test.ts
Labels: api

chore: setup version update
  .yarn/versions/58c5f343.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/58c5f343.yml
  packages/api/package.json
Labels: api

feat(graphql): add useGqlHttp hook
  packages/graphql/package.json
  packages/graphql/src/gql/useGqlHttp.ts
  yarn.lock
Labels: graphql

feat(graphql): parse gql document at useGqlAutoLoad level
  packages/graphql/src/gql/useGqlAutoLoad.ts
  packages/graphql/src/gql/useGqlHttp.ts
  packages/graphql/src/gql/useGqlWs.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils.ts
Labels: graphql

feat(graphql): test useGqlHttp
  packages/graphql/tests/gql/useGqlHttp.test.ts
  packages/graphql/tests/utils.test.tsx
Labels: graphql

feat(graphql): rename auto load update to setData
  packages/graphql/src/gql/useGqlAutoLoad.ts
  packages/graphql/src/index.ts
Labels: graphql

feat(graphql): useGqlAutoLoad emits both data and errors from result
  packages/graphql/src/gql/index.ts
  packages/graphql/src/gql/useGqlAutoLoad.ts
Labels: graphql

feat(graphql): add useGqlWs hook
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/index.ts
  packages/graphql/src/gql/useGqlMutation.ts
  packages/graphql/src/gql/useGqlQuery.ts
  packages/graphql/src/gql/useGqlSubscription.ts
  packages/graphql/src/gql/useGqlWs.ts
  packages/graphql/src/gql/useMutationRequest.ts
  packages/graphql/src/gql/useQueryRequest.ts
  packages/graphql/src/gql/useSubscriptionRequest.ts
  packages/graphql/src/index.ts
  packages/graphql/src/sub/index.ts
  packages/graphql/src/types.ts
  packages/graphql/src/ws/GqlWsClient.tsx
  packages/graphql/src/ws/GqlWsContext.ts
  packages/graphql/src/ws/index.ts
Labels: graphql

feat(graphql): test useGqlWs
  packages/graphql/src/gql/useGqlWs.ts
  packages/graphql/tests/gql/useGqlHttp.test.ts
  packages/graphql/tests/gql/useGqlWs.test.tsx
Labels: graphql

feat(graphql): complete utils test
  packages/graphql/tests/gql-resource.test.ts
  packages/graphql/tests/gql/useGqlMutation.test.tsx
  packages/graphql/tests/gql/useGqlQuery.test.tsx
  packages/graphql/tests/gql/useMutationRequest.test.tsx
  packages/graphql/tests/gql/useQueryRequest.test.tsx
  packages/graphql/tests/utils.test.tsx
Labels: graphql

feat(graphql): add send capacity to useGqlWs
  packages/graphql/src/gql/useGqlAutoLoad.ts
  packages/graphql/src/gql/useGqlWs.ts
Labels: graphql

feat(graphql): add useGqlAutoLoad hook
  packages/graphql/src/gql/useGqlAutoLoad.ts
Labels: graphql

feat(graphql): add gql resource hook builder
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/useGqlAutoLoad.ts
  packages/graphql/src/types.ts
Labels: graphql

feat(graphql): test GqlWsClient
  packages/graphql/src/gql/useGqlWs.ts
  packages/graphql/src/ws/GqlWsClient.tsx
  packages/graphql/src/ws/GqlWsClientContext.ts
  packages/graphql/src/ws/index.ts
  packages/graphql/tests/ws/GqlWsClient.test.tsx
Labels: graphql

chore: update graphql over api requirement
  packages/graphql/package.json
  yarn.lock
Labels: graphql

chore(deps): update dependency @types/react to v17.0.32
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

feat(graphql): test useGqlAutoLoad
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/useGqlAutoLoad.ts
  packages/graphql/tests/gql/useGqlAutoLoad.test.ts
Labels: graphql

feat(graphql): add subscribe to gql resource
  packages/graphql/src/gql-resource.ts
Labels: graphql

chore(deps): update dependency eslint-plugin-testing-library to v5
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

feat(graphql): test gql resource
  packages/graphql/tests/gql-resource.test.ts
Labels: graphql

chore: setup version update
  .yarn/versions/5468405d.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/5468405d.yml
  packages/graphql/package.json
Labels: graphql

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*
