Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-testing-library to v5.0.5
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint to v8.9.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/node to v14.18.12
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update babel monorepo
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

fix(deps): update dependency rollup to v2.67.3
  tools/package.json
  yarn.lock
Labels: none

chore(deps): update dependency @testing-library/jest-dom to v5.16.2
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update typescript-eslint monorepo to v5.12.1
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-jest to v26
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @testing-library/react to v12.1.3
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/react to v17.0.39
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency axios to v0.26.0
  packages/api/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore(deps): update dependency ts-node to v10.5.0
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update yarn to v3.2.0
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

fix(deps): update dependency rollup to v2.68.0
  tools/package.json
  yarn.lock
Labels: none

chore(deps): update jest monorepo
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update actions/setup-node action to v3
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency eslint to v8.10.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency ts-node to v10.6.0
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update actions/checkout action to v3
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency @types/testing-library__jest-dom to v5.14.3
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update actions/labeler action to v4
  .github/workflows/pr-labeler.yml
Labels: none

chore(deps): update dependency eslint-plugin-react to v7.29.3
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update actions/download-artifact action to v3
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update actions/upload-artifact action to v3
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency ts-node to v10.7.0
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @testing-library/react to v12.1.4
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

fix(deps): update dependency rollup to v2.70.1
  tools/package.json
  yarn.lock
Labels: none

chore(deps): update typescript-eslint monorepo to v5.16.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

feat(utils): new useAsync hook
  packages/utils/src/index.ts
  packages/utils/src/useAsync.ts
  packages/utils/tests/useAsync.test.ts
Labels: utils

chore: setup version bump
  .yarn/versions/230d1026.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/230d1026.yml
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @testing-library/jest-dom to v5.16.3
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/react to v17.0.43
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-testing-library to v5.1.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency axios to v0.26.1
  packages/api/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore(deps): update dependency eslint-plugin-jest to v26.1.3
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency ts-jest to v27.1.4
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(utils): rework build process
  packages/utils/.babelrc.js
  packages/utils/gulpfile.ts
  packages/utils/package.json
  tools/babel.ts
  tools/dts.ts
  tools/index.ts
  tools/package.json
  tools/rollup.ts
  tools/terser.ts
  tools/tsconfig.json
  tools/typescript.ts
  tools/utils.ts
  yarn.lock
Labels: utils

chore(api): rework build process
  packages/api/.babelrc.js
  packages/api/gulpfile.ts
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore(graphql): rework build process
  packages/graphql/.babelrc.js
  packages/graphql/gulpfile.ts
  packages/graphql/package.json
  yarn.lock
Labels: graphql

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*
