Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*

chore(deps): pin dependency graphql to 15.6.0
  packages/graphql/package.json
  yarn.lock
Labels: graphql

chore(deps): pin dependency graphql-tag to 2.12.5
  packages/graphql/package.json
  yarn.lock
Labels: graphql

update(graphql): simplify error management
  packages/graphql/src/types.ts
  packages/graphql/src/useGraphql.ts
  packages/graphql/src/utils.ts
  packages/graphql/tests/useGraphql.test.tsx
Labels: graphql

fix(graphql): lint
  packages/graphql/src/utils.ts
Labels: graphql

chore: setup version update
  .yarn/versions/b0f167b3.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/791ecd9d.yml
  .yarn/versions/b0f167b3.yml
  packages/graphql/package.json
Labels: graphql

chore(deps): update dependency @testing-library/react to v12.1.2
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/react to v17.0.27
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-jest to v24.5.2
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @jujulego/jill to v1.1.3
  package.json
  yarn.lock
Labels: none

chore(deps): update typescript-eslint monorepo to v4.33.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

update(graphql): rename useGraphql to useGqlQuery
  packages/graphql/src/index.ts
  packages/graphql/src/useGqlQuery.ts
  packages/graphql/tests/useGqlQuery.test.tsx
Labels: graphql

add(graphql): useGqlMutation
  packages/graphql/src/index.ts
  packages/graphql/src/types.ts
  packages/graphql/src/useGqlMutation.ts
  packages/graphql/src/useGqlQuery.ts
  packages/graphql/tests/useGqlMutation.test.tsx
  packages/graphql/tests/useGqlQuery.test.tsx
Labels: graphql

chore: setup version update
  .yarn/versions/ec98fb21.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/ec98fb21.yml
  packages/graphql/package.json
Labels: graphql

docs: add graphql package in main readme
  README.md
Labels: none

chore(deps): update dependency graphql to v15.6.1
  packages/graphql/package.json
  yarn.lock
Labels: graphql

update(graphql): move gql hooks
  packages/graphql/src/gql/index.ts
  packages/graphql/src/gql/useGqlMutation.ts
  packages/graphql/src/gql/useGqlQuery.ts
  packages/graphql/src/index.ts
Labels: graphql

add(graphql): gqlResource hook builder
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/useGqlMutation.ts
  packages/graphql/src/gql/useGqlQuery.ts
Labels: graphql

update(graphql): test gqlResource hook builder
  packages/graphql/src/index.ts
  packages/graphql/tests/gql-resource.test.ts
  packages/graphql/tests/gql/useGqlMutation.test.tsx
  packages/graphql/tests/gql/useGqlQuery.test.tsx
  packages/graphql/tests/types.ts
Labels: graphql

add(graphql): add mutation modifier
  packages/graphql/src/gql-resource.ts
Labels: graphql

update: factorize query logic
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/useGqlQuery.ts
  packages/graphql/src/gql/useQueryRequest.ts
Labels: graphql

update: factorize mutation logic
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/useGqlMutation.ts
  packages/graphql/src/gql/useMutationRequest.ts
Labels: graphql

update: test useQueryRequest
  packages/graphql/src/gql/index.ts
  packages/graphql/src/gql/useQueryRequest.ts
  packages/graphql/tests/gql-resource.test.ts
  packages/graphql/tests/gql/useQueryRequest.test.tsx
Labels: graphql

update(graphql): rework query tests
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/useGqlQuery.ts
  packages/graphql/tests/gql-resource.test.ts
  packages/graphql/tests/gql/useGqlQuery.test.tsx
  packages/graphql/tests/gql/useQueryRequest.test.tsx
Labels: graphql

update(graphql): test useMutationRequest
  packages/graphql/src/gql/useMutationRequest.ts
  packages/graphql/src/index.ts
  packages/graphql/tests/gql/useMutationRequest.test.tsx
  packages/graphql/tests/gql/useQueryRequest.test.tsx
Labels: graphql

update(graphql): rework tests mutation requests
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/useGqlMutation.ts
  packages/graphql/tests/gql-resource.test.ts
  packages/graphql/tests/gql/useGqlMutation.test.tsx
  packages/graphql/tests/gql/useGqlQuery.test.tsx
Labels: graphql

chore: setup version update
  .yarn/versions/c060e9d4.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/c060e9d4.yml
  packages/graphql/package.json
Labels: graphql

fix(graphql): useGqlQuery infinite loop
  packages/graphql/src/gql/useGqlQuery.ts
Labels: graphql

chore: setup version update
  .yarn/versions/8dff28fa.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/8dff28fa.yml
  packages/graphql/package.json
Labels: graphql

fix(graphql): failed import
  packages/graphql/package.json
  packages/graphql/src/gql/useGqlQuery.ts
Labels: graphql

update(api): isolate useGetRequest tests
  packages/api/tests/api/useGetRequest.test.tsx
Labels: api

update(api): isolate useApi tests
  packages/api/tests/api/useApi.test.ts
Labels: api

chore: setup version update
  .yarn/versions/6d3dae9e.yml
  packages/api/src/cache/SwrCache.tsx
Labels: api

chore: fix lint error
  package.json
  yarn.lock
Labels: none

update(graphql): render gql vars optionnal
  packages/graphql/src/gql-resource.ts
Labels: graphql

update(graphql): rework typings
  packages/api/src/types.ts
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/useGqlMutation.ts
  packages/graphql/src/gql/useGqlQuery.ts
  packages/graphql/src/gql/useMutationRequest.ts
  packages/graphql/src/gql/useQueryRequest.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/gql-resource.test.ts
Labels: api, graphql

chore: setup version update
  .yarn/versions/db9d4f22.yml
Labels: none
