Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, utils

update(api): test useDeleteRequest helper
  packages/api/tests/useDeleteRequest.test.ts
Labels: api

update(api): test useApi.delete helper
  packages/api/tests/useApi.test.ts
Labels: api

update(api): test usePostRequest helper
  packages/api/tests/usePostRequest.test.ts
Labels: api

update(api): test useApi post/put/patch helpers
  packages/api/tests/useApi.test.ts
Labels: api

update(api): test useGetRequest should use cache
  .eslintrc.json
  package.json
  packages/api/package.json
  packages/api/src/ApiCache.tsx
  packages/api/tests/useGetRequest.test.tsx
  yarn.lock
Labels: api

update(api): test cache
  packages/api/tests/ApiCache.test.tsx
Labels: api

chore: setup version update
  .yarn/versions/4f2ef55b.yml
Labels: none

chore: fix utils lint dep error
  packages/utils/package.json
  yarn.lock
Labels: utils

chore(deps): update dependency @types/react to v17.0.21
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

update(api): add status and error in get hooks return
  packages/api/src/types.ts
  packages/api/src/useApi.ts
  packages/api/src/useGetRequest.ts
  packages/api/tests/useGetRequest.test.tsx
Labels: api

update(api): add status and error in delete hooks return
  packages/api/src/useApi.ts
  packages/api/src/useDeleteRequest.ts
  packages/api/tests/useDeleteRequest.test.ts
Labels: api

chore(deps): update dependency eslint-plugin-react to v7.25.2
  package.json
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore(deps): update dependency eslint-plugin-jest to v24.4.2
  package.json
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

update(api): add status and error in post hooks return
  packages/api/src/useApi.ts
  packages/api/src/usePostRequest.ts
  packages/api/tests/usePostRequest.test.ts
Labels: api

chore: setup version update
  .yarn/versions/5ba36e1a.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/4f2ef55b.yml
  .yarn/versions/5ba36e1a.yml
  packages/api/package.json
Labels: api

chore: setup gren
  .grenrc.json
Labels: none

docs: basic readmes
  README.md
  packages/api/README.md
  packages/utils/README.md
Labels: api, utils

fix: factorize api-promise code
  packages/api/src/api-promise.ts
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/api/src/useDeleteRequest.ts
  packages/api/src/usePostRequest.ts
Labels: api

chore: setup version update
  .yarn/versions/89e9b36b.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/89e9b36b.yml
Labels: none

chore: update api version
  .yarnrc.yml
  packages/api/package.json
Labels: api

chore: add bundle badges
  packages/api/README.md
  packages/utils/README.md
Labels: api, utils

update(utils): remove lodash.isEqual for dequal
  packages/utils/package.json
  packages/utils/src/useDeepMemo.ts
  yarn.lock
Labels: utils

chore: setup version update
  .yarn/versions/e4b7b9d9.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/e4b7b9d9.yml
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore(deps): update dependency eslint-plugin-react to v7.25.3
  package.json
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore: change typescript module type
  tsconfig.base.json
Labels: none

chore: fix api tests
  packages/api/jest.config.js
Labels: api

chore: setup version update
  .yarn/versions/0482735c.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/0482735c.yml
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore: compile to es2015 modules
  packages/api/jest.config.js
  packages/api/package.json
  packages/api/tsconfig.cjs.json
  packages/api/tsconfig.esm.json
  packages/api/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.cjs.json
  packages/utils/tsconfig.esm.json
  packages/utils/tsconfig.json
  tsconfig.base.json
Labels: api, utils

chore: mark as side effect free
  packages/api/package.json
  packages/utils/package.json
Labels: api, utils

chore(deps): update dependency @types/react to v17.0.22
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore(deps): update dependency jest to v27.2.1
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

docs(api): add docstrings
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/api/src/useApi.ts
  packages/api/src/useApiDelete.ts
  packages/api/src/useApiGet.ts
  packages/api/src/useApiHead.ts
  packages/api/src/useApiOptions.ts
  packages/api/src/useApiPatch.ts
  packages/api/src/useApiPost.ts
  packages/api/src/useApiPut.ts
  packages/api/src/useDeleteRequest.ts
  packages/api/src/useGetRequest.ts
  packages/api/src/usePostRequest.ts
  packages/api/tests/useApi.test.ts
  packages/utils/src/useDeepMemo.ts
  packages/utils/src/useInterval.ts
  packages/utils/src/usePrevious.ts
Labels: api, utils

docs(api): fix bundlephobia badges
  packages/api/README.md
  packages/api/package.json
Labels: api

docs(utils): fix bundlephobia badges
  packages/utils/README.md
Labels: utils

chore: setup version update
  .yarn/versions/658f1085.yml
Labels: none

chore(deps): update dependency eslint-plugin-testing-library to v4.12.3
  package.json
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

.github/labeler.yml:

api: packages/api/**/*
utils: packages/utils/**/*
