Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

chore: upgrade yarn
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarnrc.yml
  yarn.lock
Labels: none

chore: rework build toolchain
  packages/api/.babelrc
  packages/api/gulpfile.js
  packages/api/package.json
  packages/graphql/.babelrc
  packages/graphql/gulpfile.js
  packages/graphql/package.json
  packages/utils/.babelrc
  packages/utils/gulpfile.js
  packages/utils/package.json
Labels: api, graphql, utils

chore: ignore log and pid
  .gitignore
Labels: none

chore(deps): update typescript-eslint monorepo to v5.4.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/react to v17.0.35
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @babel/preset-env to v7.16.4
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @jujulego/jill to v1.1.14
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency @types/uuid to v8.3.3
  packages/graphql/package.json
  yarn.lock
Labels: graphql

chore(deps): update dependency @types/jest to v27.0.3
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-react to v7.27.1
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @jujulego/jill to v1.1.16
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency eslint-plugin-jest to v25.3.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @testing-library/jest-dom to v5.15.1
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/react to v17.0.37
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update yarn to v3.1.1
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency typescript to v4.5.2
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update actions/setup-node action to v2.5.0
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency jest to v27.4.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update typescript-eslint monorepo to v5.5.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/testing-library__jest-dom to v5.14.2
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-testing-library to v5.0.1
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency jest to v27.4.3
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @testing-library/jest-dom to v5.16.0
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency ts-jest to v27.1.0
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(utils): rework build scripts
  packages/utils/.babelrc
  packages/utils/.babelrc.js
  packages/utils/gulpfile.js
  packages/utils/gulpfile.ts
  packages/utils/package.json
  yarn.lock
Labels: utils

chore(utils): bundle with webpack
  packages/utils/package.json
  packages/utils/webpack.config.js
  yarn.lock
Labels: utils

chore(utils): bundle babelised code
  .idea/alma.iml
  .idea/markdown.xml
  packages/utils/.gitignore
  packages/utils/gulpfile.ts
  packages/utils/package.json
  packages/utils/webpack.config.js
  yarn.lock
Labels: utils

chore(utils): rework package structure
  .idea/alma.iml
  .idea/jsLibraryMappings.xml
  packages/utils/.gitignore
  packages/utils/gulpfile.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/webpack.config.js
  yarn.lock
Labels: utils

fix(utils): main path
  packages/utils/package.json
Labels: utils

chore(utils): add cache & sourcemaps on rollup part
  packages/utils/gulpfile.ts
  packages/utils/package.json
  yarn.lock
Labels: utils

fix(utils): missing build:esm in watch
  packages/utils/gulpfile.ts
Labels: utils

chore(utils): add sourcemaps
  .idea/alma.iml
  packages/utils/gulpfile.ts
  packages/utils/package.json
  yarn.lock
Labels: utils

chore(utils): bundle with rollup
  packages/utils/gulpfile.ts
  packages/utils/package.json
  yarn.lock
Labels: utils

chore: enforce configuration
  packages/utils/gulpfile.ts
  tools/rollup.ts
Labels: utils

chore: create new alma-tools package
  README.md
  package.json
  packages/utils/gulpfile.ts
  packages/utils/package.json
  tools/babel.ts
  tools/dts.ts
  tools/package.json
  tools/rollup.ts
  tools/tsconfig.json
  yarn.lock
Labels: utils

chore(graphql): use alma-tools for build
  .idea/runConfigurations/watch__alma_graphql_.xml
  .idea/runConfigurations/watch__alma_utils_.xml
  packages/graphql/.babelrc
  packages/graphql/.babelrc.js
  packages/graphql/.npmignore
  packages/graphql/gulpfile.js
  packages/graphql/gulpfile.ts
  packages/graphql/package.json
  packages/graphql/tsconfig.json
  packages/utils/.npmignore
  yarn.lock
Labels: graphql, utils

chore(api): use alma-tools for build
  .idea/runConfigurations/watch__alma_api_.xml
  packages/api/.babelrc
  packages/api/.babelrc.js
  packages/api/.npmignore
  packages/api/gulpfile.js
  packages/api/gulpfile.ts
  packages/api/package.json
  packages/api/tsconfig.json
  yarn.lock
Labels: api

chore: setup version update
  .yarn/versions/e85701cf.yml
Labels: none

chore: fix lockfile
  yarn.lock
Labels: none

chore: update bundles & version numbers
  .yarn/versions/e85701cf.yml
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*
