Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*

feat(api): prefetch v1
  packages/api/src/api.ts
  samples/src/ApiData.tsx
Labels: api

feat(api): updator tests
  packages/api/tests/utils/updator.test.ts
Labels: api

feat(api): useApi
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useApi.ts
  packages/api/src/hooks/useApiData.ts
  packages/api/src/hooks/useApiRequest.ts
  packages/api/src/utils/url.ts
Labels: api

feat(api): url template tag
  .idea/runConfigurations/start__samples_.xml
  .idea/webResources.xml
  packages/api/src/hooks/useApi.ts
  packages/api/src/utils/url.ts
  samples/src/ApiData.tsx
  samples/src/App.tsx
Labels: api

feat(api): stabilize cancel
  packages/api/src/ApiResource.ts
  packages/api/src/hooks/useApiData.ts
  samples/src/ApiData.tsx
Labels: api

feat(api): rework useApiData to support non suspense flow
  packages/api/src/hooks/useApiData.ts
  packages/api/src/utils/index.ts
  packages/api/src/utils/updator.ts
  packages/resources/package.json
  packages/utils/package.json
  samples/src/ApiData.tsx
  samples/src/App.tsx
  yarn.lock
Labels: api, utils

chore: fix umd names
  packages/api/gulpfile.js
  packages/resources/gulpfile.js
  packages/utils/gulpfile.js
Labels: api, utils

feat(api): url docs and tests
  .idea/runConfigurations/watch__alma_resources_.xml
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useApi.ts
  packages/api/src/hooks/useApiUrl.ts
  packages/api/src/utils/url.ts
  packages/api/tests/hooks/useApiRequest.test.tsx
  packages/api/tests/hooks/useApiUrl.test.tsx
  packages/api/tests/utils/url.test.ts
Labels: api

feat(api): useApi support url parameters
  packages/api/package.json
  packages/api/src/hooks/useApi.ts
Labels: api

feat(api): simplify type expressions
  packages/api/src/api.ts
  packages/api/src/hooks/useApi.ts
  packages/api/src/hooks/useApiData.ts
  packages/api/src/hooks/useApiRequest.ts
  packages/api/src/types/request.ts
  packages/api/src/types/utils.ts
  packages/api/tests/hooks/useApi.test.ts
  packages/api/tests/hooks/useApiUrl.test.ts
  samples/.gitignore
Labels: api

feat(api): api data refresh
  packages/api/src/api.ts
  packages/resources/src/useResource.ts
  samples/src/ApiData.tsx
  samples/src/App.tsx
Labels: api

feat(api): useApi sugar syntax (method now bear Data and Body types)
  packages/api/src/config/fetcher.ts
  packages/api/src/hooks/useApi.ts
  packages/api/src/hooks/useApiData.ts
  packages/api/src/types/utils.ts
  packages/api/src/utils/index.ts
  packages/api/src/utils/methods.ts
  packages/api/src/utils/url.ts
  packages/api/tests/hooks/useApi.test.tsx
  packages/api/tests/hooks/useApiUrl.test.ts
  packages/api/tests/utils/url.test.ts
  samples/src/ApiData.tsx
Labels: api

feat(axios): adapt axios fetcher
  packages/axios/src/fetcher.ts
Labels: none

feat(resources): enhance warehouse.create
  packages/api/src/hooks/useApi.ts
  packages/api/src/hooks/useApiData.ts
  packages/resources/src/warehouse.ts
Labels: api

feat(api): allow passing query parameters threw arguments
  packages/api/src/api.ts
  packages/api/src/config/fetcher.ts
  packages/api/src/hooks/useApi.ts
  packages/api/src/types/request.ts
  packages/api/src/types/utils.ts
  packages/axios/src/fetcher.ts
  samples/src/ApiData.tsx
Labels: api

feat(api): api mutation declaration
  packages/api/src/api.ts
  samples/src/ApiData.tsx
Labels: api

feat(api): remove useApiRequest
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useApiRequest.ts
  packages/api/tests/hooks/useApi.test.ts
  packages/api/tests/hooks/useApi.test.tsx
  packages/api/tests/hooks/useApiRequest.test.tsx
Labels: api

feat(api): pass down api options defaults
  README.md
  packages/api/src/api.ts
Labels: api

feat(resource): promise based resources
  packages/api/src/ApiResource.ts
  packages/api/src/api.ts
  packages/resources/src/abort-resource.ts
  packages/resources/src/index.ts
  packages/resources/src/promise-resource.ts
  samples/src/ApiData.tsx
Labels: api

feat(api): setup global api config
  packages/api/src/AlmaApiSetup.tsx
  packages/api/src/ApiConfigContext.ts
  packages/api/src/api.ts
  packages/api/src/config/ApiConfigContext.ts
  packages/api/src/config/config.ts
  packages/api/src/config/fetcher.ts
  packages/api/src/config/index.ts
  packages/api/src/hooks/useApi.ts
  packages/api/src/hooks/useApiData.ts
  packages/api/src/hooks/useApiRequest.ts
  packages/api/src/index.ts
  packages/api/tests/config/fetcher.test.ts
Labels: api

feat(api): fuse useApiData in api
  packages/api/src/AlmaApiSetup.tsx
  packages/api/src/api.ts
  packages/api/src/config/ApiConfigContext.ts
  packages/api/src/config/config.ts
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useApi.ts
  packages/api/src/hooks/useApiData.ts
  packages/api/src/types/config.ts
  packages/api/src/types/index.ts
  packages/api/src/types/request.ts
  samples/src/ApiData.tsx
Labels: api

feat(api): test ApiResource
  packages/api/src/ApiResource.ts
  packages/api/tests/ApiResource.test.ts
  samples/src/ApiData.tsx
Labels: api

feat(api): fix suspense missing transitions
  packages/api/src/api.ts
  packages/resources/src/useResource.ts
Labels: api

feat(api): fix $api typings
  packages/api/src/api.ts
  packages/api/src/types/request.ts
  samples/src/ApiData.tsx
Labels: api

feat(api): pass query in useApi and body in $api
  packages/api/src/api.ts
  packages/api/src/hooks/useApi.ts
  packages/api/src/types/request.ts
  samples/src/ApiData.tsx
Labels: api

feat(api): util for update global config
  packages/api/src/config/config.ts
Labels: api

feat(resources): update tests
  packages/resources/package.json
  packages/resources/src/useResource.ts
  packages/resources/src/useWarehouse.ts
  packages/resources/src/warehouse.ts
  packages/resources/tests/abort-resource.test.ts
  packages/resources/tests/promise-resource.test.ts
  packages/resources/tests/useResource.test.tsx
  packages/resources/tests/useWarehouse.test.tsx
  packages/resources/tests/warehouse.test.ts
  yarn.lock
Labels: none

fix(api): mutation typings
  packages/api/src/api.ts
Labels: api

feat(graphql): move old code and fix build
  packages/api/gulpfile.js
  packages/api/src/hooks/useApi.ts
  packages/axios/.babelrc.cjs
  packages/axios/package.json
  packages/graphql/.babelrc.cjs
  packages/graphql/gulpfile.js
  packages/graphql/old/gql-resource.ts
  packages/graphql/old/gql/index.ts
  packages/graphql/old/gql/useGqlAutoLoad.ts
  packages/graphql/old/gql/useGqlHttp.ts
  packages/graphql/old/gql/useGqlWs.ts
  packages/graphql/old/index.ts
  packages/graphql/old/types.ts
  packages/graphql/old/utils.ts
  packages/graphql/old/ws/GqlWsClient.tsx
  packages/graphql/old/ws/GqlWsClientContext.ts
  packages/graphql/old/ws/index.ts
  packages/graphql/package.json
  packages/graphql/tests/old/gql-resource.test.ts
  packages/graphql/tests/old/gql/useGqlAutoLoad.test.ts
  packages/graphql/tests/old/gql/useGqlHttp.test.ts
  packages/graphql/tests/old/gql/useGqlWs.test.tsx
  packages/graphql/tests/old/types.ts
  packages/graphql/tests/old/utils.test.tsx
  packages/graphql/tests/old/ws/GqlWsClient.test.tsx
  yarn.lock
Labels: api, graphql

feat(graphql): send request over http
  packages/graphql/src/hooks/useGqlHttp.ts
  packages/graphql/src/types/index.ts
  packages/graphql/src/types/request.ts
  packages/graphql/src/types/response.ts
  packages/graphql/src/types/utils.ts
Labels: graphql

feat(resource): utils to remove resources
  packages/api/tests/api.test.ts
  packages/resources/src/warehouse.ts
  packages/resources/tests/warehouse.test.ts
Labels: api

feat(api): initiate $api tests
  packages/api/tests/api.test.ts
  packages/graphql/src/hooks/useGqlHttp.ts
Labels: api, graphql

feat(resources): move ApiResource logic to AbortResource
  packages/api/src/ApiResource.ts
  packages/api/src/api.ts
  packages/api/src/hooks/useApi.ts
  packages/api/src/index.ts
  packages/api/src/types/response.ts
  packages/api/tests/ApiResource.test.ts
  packages/graphql/package.json
  packages/graphql/src/hooks/useGqlHttp.ts
  packages/graphql/src/types/response.ts
  packages/resources/src/abort-resource.ts
  packages/resources/tests/abort-resource.test.ts
  yarn.lock
Labels: api, graphql

feat(api): test api query logic
  packages/api/tests/api.test.ts
Labels: api

feat(graphql): add document utils
  packages/api/tests/hooks/useApi.test.tsx
  packages/graphql/src/hooks/index.ts
  packages/graphql/src/hooks/useGqlHttp.ts
  packages/graphql/src/index.ts
  packages/graphql/src/utils/document.ts
  packages/graphql/src/utils/index.ts
  packages/graphql/tests/utils/document.test.ts
Labels: api, graphql

fix(axios): tests
  packages/axios/tests/fetcher.test.ts
Labels: none

feat(graphql): $gql hook builder
  packages/graphql/src/gql.ts
  packages/graphql/src/hooks/useGqlHttp.ts
  packages/graphql/src/types/response.ts
  packages/graphql/src/utils/document.ts
Labels: graphql

fix(api): query and body not sent by refresh
  packages/api/src/api.ts
Labels: api

chore(deps): update dependency @types/react to v18.0.9
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

feat(resources): reorganize files
  packages/resources/src/WarehouseKeeper.tsx
  packages/resources/src/hooks/index.ts
  packages/resources/src/hooks/useResource.ts
  packages/resources/src/hooks/useResourceStatus.ts
  packages/resources/src/hooks/useWarehouse.ts
  packages/resources/src/index.ts
  packages/resources/src/resources/abort-resource.ts
  packages/resources/src/resources/index.ts
  packages/resources/src/resources/promise-resource.ts
  packages/resources/src/resources/resource.ts
  packages/resources/src/warehouse.ts
Labels: none
