Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

chore: setup version bump
  .yarn/versions/e7e8e774.yml
Labels: none

chore(deps): update dependency typescript to v4.6.3
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-react to v7.29.4
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint to v8.12.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore: update bundles & version numbers
  .yarn/versions/e7e8e774.yml
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update babel monorepo to v7.17.8
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

feat(api): store error and return in useApiAutoLoad
  packages/api/src/api/useApiAutoLoad.ts
  packages/api/tests/api/useApiAutoLoad.test.ts
Labels: api

chore: setup version bump
  .yarn/versions/40df502e.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/40df502e.yml
  packages/api/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore(deps): update typescript-eslint monorepo to v5.17.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

feat(api): configure fetcher in useApiRequest
  packages/api/src/api/useApiRequest.ts
  packages/api/src/config/ApiConfigContext.ts
  packages/api/src/config/index.ts
  packages/api/src/index.ts
  packages/api/tests/api/useApiRequest.test.tsx
Labels: api

feat(api): update documentation
  packages/api/src/api/useApiDelete.ts
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/src/api/useApiPatch.ts
  packages/api/src/api/useApiPost.ts
  packages/api/src/api/useApiPut.ts
  packages/api/src/api/useApiRequest.ts
Labels: api

feat(api): test default context implementation
  packages/api/package.json
  packages/api/src/config/ApiConfigContext.ts
  packages/api/tests/config/ApiConfigContext.test.ts
  yarn.lock
Labels: api

feat(api): split out default fetcher
  packages/api/src/config/ApiConfigContext.ts
  packages/api/src/config/fetcher.ts
  packages/api/src/config/index.ts
  packages/api/tests/config/fetcher.test.ts
Labels: api

feat(api): add Content-Type header when encoding data into json
  packages/api/src/config/fetcher.ts
  packages/api/tests/config/fetcher.test.ts
Labels: api

feat(api): test fetcher with all not encoded types
  packages/api/src/config/fetcher.ts
  packages/api/tests/config/fetcher.test.ts
Labels: api

feat(api): ApiConfig component to easily setup config
  packages/api/src/config/ApiConfig.tsx
  packages/api/src/config/ApiConfigContext.ts
  packages/api/src/config/fetcher.ts
  packages/api/src/config/index.ts
Labels: api

feat(api): add AlmaApiSetup for global config
  packages/api/src/AlmaApiSetup.tsx
  packages/api/src/index.ts
  packages/api/tests/AlmaApiSetup.test.tsx
  packages/api/tests/cache/SwrCache.test.tsx
Labels: api

chore(deps): update dependency eslint-plugin-react-hooks to v4.4.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

fix(api): linter warnings
  packages/api/tests/AlmaApiSetup.test.tsx
  packages/api/tests/api/useApiRequest.test.tsx
  packages/api/tests/cache/SwrCache.test.tsx
Labels: api

feat(api): response type
  packages/api/src/api-resource.ts
  packages/api/src/api/useApiAutoLoad.ts
  packages/api/src/api/useApiDelete.ts
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/src/api/useApiPatch.ts
  packages/api/src/api/useApiPost.ts
  packages/api/src/api/useApiPut.ts
  packages/api/src/api/useApiRequest.ts
  packages/api/src/config/ApiConfigContext.ts
  packages/api/src/config/fetcher.ts
  packages/api/src/types.ts
  packages/api/tests/api-resource.test.ts
  packages/api/tests/api/useApiAutoLoad.test.ts
  packages/api/tests/api/useApiDelete.test.ts
  packages/api/tests/api/useApiGet.test.ts
  packages/api/tests/api/useApiHead.test.ts
  packages/api/tests/api/useApiOptions.test.ts
  packages/api/tests/api/useApiPatch.test.ts
  packages/api/tests/api/useApiPost.test.ts
  packages/api/tests/api/useApiPut.test.ts
  packages/api/tests/api/useApiRequest.test.tsx
  packages/api/tests/config/fetcher.test.ts
Labels: api

fix(graphql): use response type
  packages/graphql/src/gql/useGqlHttp.ts
  packages/graphql/tests/gql/useGqlHttp.test.ts
Labels: graphql

chore: setup version bump
  .yarn/versions/b47e2290.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/b47e2290.yml
  packages/api/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore(deps): update dependency eslint-plugin-testing-library to v5.2.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update actions/setup-node action to v3.1.0
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

feat(axios): tests
  packages/axios/tests/fetcher.test.ts
Labels: none

chore: setup alma-axios package
  .idea/alma.iml
  packages/axios/.babelrc.js
  packages/axios/.eslintrc.json
  packages/axios/.gitignore
  packages/axios/.npmignore
  packages/axios/README.md
  packages/axios/gulpfile.ts
  packages/axios/jest.config.js
  packages/axios/package.json
  packages/axios/setup-tests.ts
  packages/axios/sonar-project.properties
  packages/axios/src/fetcher.ts
  packages/axios/src/index.ts
  packages/axios/tsconfig.json
  yarn.lock
Labels: none

chore: fix lockfile
  .idea/compiler.xml
  .idea/runConfigurations/All_Tests__axios_.xml
  yarn.lock
Labels: none

feat(graphql): remove axios peer-dependency
  packages/graphql/package.json
Labels: graphql

chore: prepare version bump
  .yarn/versions/44097a63.yml
  yarn.lock
Labels: none

chore(deps): update dependency @testing-library/react to v13
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update react monorepo to v18
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore: update bundles & version numbers
  .yarn/versions/44097a63.yml
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

fix: tests in react 18
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @jujulego/jill to v1.2.1
  package.json
  yarn.lock
Labels: none

chore: setup version upgrade
  .yarn/versions/437553b6.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/437553b6.yml
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(api): setup bundling
  packages/api/gulpfile.ts
  packages/api/package.json
  packages/utils/gulpfile.ts
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, utils

feat(axios): rollup bundle
  .idea/runConfigurations/build__alma_axios_.xml
  packages/axios/gulpfile.ts
  packages/axios/package.json
  yarn.lock
Labels: none

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*
