Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

chore(deps): update dependency eslint to v8
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

fix(graphql): fix import error
  packages/graphql/src/gql/useGqlWs.ts
Labels: graphql

feat(graphql): make gql resource subscribe optional
  packages/graphql/src/gql-resource.ts
Labels: graphql

chore: setup version update
  .yarn/versions/dcc71261.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/dcc71261.yml
  packages/graphql/package.json
Labels: graphql

chore(deps): update dependency axios to v0.24.0
  packages/api/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore: simplify package structure
  packages/api/gulpfile.js
  packages/api/package.json
  packages/graphql/gulpfile.js
  packages/graphql/package.json
  packages/utils/gulpfile.js
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore: update babel and typescript configs
  .idea/runConfigurations/build__alma_graphql_.xml
  .idea/runConfigurations/build__alma_utils_.xml
  package.json
  packages/api/.babelrc
  packages/api/gulpfile.js
  packages/api/tsconfig.json
  packages/graphql/.babelrc
  packages/graphql/gulpfile.js
  packages/graphql/tsconfig.json
  packages/utils/.babelrc
  packages/utils/gulpfile.js
  packages/utils/tsconfig.json
  tsconfig.base.json
Labels: api, graphql, utils

chore: add eslint rule for workspaces imports
  .eslintrc.json
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/graphql/src/types.ts
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore: setup version update
  .yarn/versions/8ab103ea.yml
Labels: none

chore: fix npmignore
  packages/api/.npmignore
  packages/graphql/.npmignore
  packages/utils/.npmignore
Labels: api, graphql, utils

fix(graphql): failing tests
  packages/graphql/tests/gql/useGqlAutoLoad.test.ts
Labels: graphql

chore: update bundles & version numbers
  .yarn/versions/8ab103ea.yml
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): pin dependency gulp-rename to 2.0.0
  packages/utils/package.json
  yarn.lock
Labels: utils

chore(deps): update typescript-eslint monorepo to v5.2.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/react to v17.0.33
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore: fix package structure
  packages/api/gulpfile.js
  packages/api/package.json
  packages/graphql/gulpfile.js
  packages/graphql/package.json
  packages/utils/gulpfile.js
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

fix(graphql): fix tests
  packages/graphql/tests/gql/useGqlAutoLoad.test.ts
Labels: graphql

chore(deps): update dependency @jujulego/jill to v1.1.5
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency graphql to v15.7.0
  packages/graphql/package.json
  yarn.lock
Labels: graphql

chore(deps): update dependency graphql to v15.7.2
  packages/graphql/package.json
  yarn.lock
Labels: graphql

chore(deps): update dependency graphql to v16
  packages/graphql/package.json
  yarn.lock
Labels: graphql

chore: fix babel config and remove support ie support
  package.json
  packages/api/.babelrc
  packages/api/package.json
  packages/graphql/.babelrc
  packages/graphql/package.json
  packages/utils/.babelrc
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update babel monorepo to v7.16.0
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @jujulego/jill to v1.1.8
  package.json
  yarn.lock
Labels: none

chore(deps): update typescript-eslint monorepo to v5.3.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency graphql to v16.0.1
  packages/graphql/package.json
  yarn.lock
Labels: graphql

chore(deps): update dependency @testing-library/jest-dom to v5.15.0
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update actions/checkout action to v2.4.0
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency @types/react to v17.0.34
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-jest to v25.2.3
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @jujulego/jill to v1.1.11
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency eslint-plugin-jest to v25.2.4
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-react-hooks to v4.3.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency graphql-tag to v2.12.6
  packages/graphql/package.json
  yarn.lock
Labels: graphql

chore(deps): update typescript-eslint monorepo to v5.3.1
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @babel/runtime to v7.16.3
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-react to v7.27.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @jujulego/jill to v1.1.13
  package.json
  yarn.lock
Labels: none

chore(deps): update yarn to v3.1.0
  package.json
Labels: none

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*
