Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, table, utils

.github/labeler.yml:

api: packages/api/**/*
table: packages/table/**/*
utils: packages/utils/**/*

update(api): move all cache logic in cache directory
  packages/api/src/cache/ApiCache.tsx
  packages/api/src/cache/CacheContext.ts
  packages/api/src/cache/index.ts
  packages/api/src/index.ts
  packages/api/src/useGetRequest.ts
  packages/api/tests/cache/ApiCache.test.tsx
Labels: api

update(api): move all api logic in api directory
  packages/api/src/api/index.ts
  packages/api/src/api/useApi.ts
  packages/api/src/api/useApiDelete.ts
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/src/api/useApiPatch.ts
  packages/api/src/api/useApiPost.ts
  packages/api/src/api/useApiPut.ts
  packages/api/src/api/useDeleteRequest.ts
  packages/api/src/api/useGetRequest.ts
  packages/api/src/api/usePostRequest.ts
  packages/api/src/index.ts
  packages/api/tests/api/useApi.test.ts
  packages/api/tests/api/useDeleteRequest.test.ts
  packages/api/tests/api/useGetRequest.test.tsx
  packages/api/tests/api/usePostRequest.test.ts
Labels: api

chore(deps): update typescript-eslint monorepo to v4.31.2
  package.json
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

add(api): api ressource hook builder
  packages/api/src/api-resource.ts
  packages/api/src/index.ts
  packages/api/tsconfig.json
Labels: api

update(api): allow to add put call
  packages/api/src/api-resource.ts
Labels: api

update(api): allow to add delete call
  packages/api/src/api-resource.ts
Labels: api

update(api): allow customize put and delete urls
  packages/api/src/api-resource.ts
  packages/api/src/types.ts
Labels: api

update(api): remove cache update api resource delete call
  packages/api/src/api-resource.ts
Labels: api

chore(deps): update dependency @types/jest to v27.0.2
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore(deps): update dependency eslint-plugin-react to v7.26.0
  package.json
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore(deps): update dependency @types/react to v17.0.24
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

update(api): rework ApiPromise so then and catch return ApiPromises too
  packages/api/src/api-promise.ts
  packages/api/src/api-resource.ts
  packages/api/src/api/useDeleteRequest.ts
  packages/api/src/api/usePostRequest.ts
  packages/api/tests/api/useDeleteRequest.test.ts
  packages/api/tests/api/usePostRequest.test.ts
Labels: api

chore(deps): update dependency eslint-plugin-testing-library to v4.12.4
  package.json
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore: no build artifacts for lint
  .github/workflows/pull-request.yml
Labels: none

update(api): handle post and patch methods
  packages/api/src/api-resource.ts
Labels: api

add(api): apipromise tests
  packages/api/src/api-promise.ts
  packages/api/src/index.ts
  packages/api/tests/api-promise.test.ts
Labels: api

update(api): API to Api
  packages/api/src/api-promise.ts
  packages/api/src/api/useApiDelete.ts
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/src/api/useApiPatch.ts
  packages/api/src/api/useApiPost.ts
  packages/api/src/api/useApiPut.ts
  packages/api/src/api/useDeleteRequest.ts
  packages/api/src/api/useGetRequest.ts
  packages/api/src/api/usePostRequest.ts
  packages/api/src/types.ts
Labels: api

chore(deps): update dependency jest to v27.2.2
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

update(api): test apiResource
  packages/api/tests/api-resource.test.ts
  packages/api/tests/api/useApi.test.ts
  packages/api/tests/utils.ts
Labels: api

update(api): refacto useApi tests
  packages/api/tests/api/useApi.test.ts
Labels: api

chore: setup version update
  .yarn/versions/a22c32b1.yml
Labels: none

chore: fix publish lint step
  .github/workflows/publish.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/a22c32b1.yml
  packages/api/package.json
Labels: api

chore(deps): update actions/setup-node action to v2.4.1
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency @testing-library/react to v12.1.1
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore(deps): update typescript-eslint monorepo to v4.32.0
  package.json
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore(deps): update dependency jest to v27.2.3
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore(deps): update dependency eslint-plugin-jest to v24.4.3
  package.json
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils

chore(deps): update dependency jest to v27.2.4
  packages/api/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, utils
