Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

chore(deps): update dependency @testing-library/jest-dom to v5.16.1
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update typescript-eslint monorepo to v5.6.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore: rework with flow helper
  packages/api/gulpfile.ts
  packages/graphql/gulpfile.ts
  packages/utils/gulpfile.ts
  tools/dts.ts
  tools/index.ts
  tools/package.json
  tools/typescript.ts
  tools/utils.ts
  yarn.lock
Labels: api, graphql, utils

chore: rework babel with flow helper
  packages/api/gulpfile.ts
  packages/graphql/gulpfile.ts
  packages/utils/gulpfile.ts
  tools/babel.ts
  tools/index.ts
  tools/utils.ts
Labels: api, graphql, utils

chore: rework rollup with steps helper
  packages/api/gulpfile.ts
  packages/graphql/gulpfile.ts
  packages/utils/gulpfile.ts
  tools/babel.ts
  tools/index.ts
  tools/rollup.ts
  tools/terser.ts
  tools/typescript.ts
  tools/utils.ts
Labels: api, graphql, utils

feat(tools): use flatten to simplify syntax when using steps
  packages/api/gulpfile.ts
  packages/graphql/gulpfile.ts
  packages/utils/gulpfile.ts
  tools/babel.ts
  tools/package.json
  tools/typescript.ts
  tools/utils.ts
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency jest to v27.4.5
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update babel monorepo to v7.16.5
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency ts-jest to v27.1.2
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency graphql to v16.2.0
  packages/graphql/package.json
  yarn.lock
Labels: graphql

chore(deps): update typescript-eslint monorepo to v5.8.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

fix(deps): update dependency rollup to v2.62.0
  tools/package.json
  yarn.lock
Labels: none

chore(deps): update dependency @types/node to v14.18.3
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-react to v7.28.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/react to v17.0.38
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

fix(deps): update dependency typescript to v4.5.4
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update actions/setup-node action to v2.5.1
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency eslint-plugin-jest to v25.3.4
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update typescript-eslint monorepo to v5.9.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

fix(deps): update dependency rollup to v2.63.0
  tools/package.json
  yarn.lock
Labels: none

chore(deps): update jest monorepo
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

feature(utils): add interval callback
  packages/utils/src/useInterval.ts
  packages/utils/tests/useInterval.test.ts
Labels: utils

chore: setup version bump
  .yarn/versions/d298d669.yml
Labels: none

chore(deps): update dependency @types/node to v14.18.5
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore: update bundles & version numbers
  .yarn/versions/d298d669.yml
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update typescript-eslint monorepo to v5.9.1
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update babel monorepo
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint to v8
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/uuid to v8.3.4
  packages/graphql/package.json
  yarn.lock
Labels: graphql

chore(deps): update dependency eslint-plugin-testing-library to v5.0.3
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @jujulego/jill to v1.2.0
  package.json
  yarn.lock
Labels: none

fix(deps): update dependency rollup to v2.64.0
  tools/package.json
  yarn.lock
Labels: none

chore(deps): update dependency ts-jest to v27.1.3
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint-plugin-jest to v25.7.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency eslint to v8.7.0
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency axios to v0.25.0
  packages/api/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore(deps): update dependency @types/node to v14.18.9
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update babel monorepo
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

fix(deps): update dependency typescript to v4.5.5
  package.json
  packages/api/package.json
  packages/graphql/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency graphql to v16.3.0
  packages/graphql/package.json
  yarn.lock
Labels: graphql

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*
