Repository Jujulego/alma, changes with the labels that .github/labeler.yml gives for each.
All labels: api, graphql, utils

chore(deps): update dependency @testing-library/react-hooks to v8
  packages/api/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update actions/setup-node action to v3.1.1
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency eslint-plugin-testing-library to v5.3.1
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/node to v16.11.27
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update actions/checkout action to v3.0.1
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency rollup to v2.70.2
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @rollup/plugin-node-resolve to v13.2.1
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @rollup/plugin-commonjs to v21.1.0
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore(deps): update actions/checkout action to v3.0.2
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency eslint-plugin-jest to v26.1.5
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @rollup/plugin-commonjs to v22
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  yarn.lock
Labels: api, graphql

chore(deps): update dependency graphql to v16.4.0
  packages/graphql/package.json
  yarn.lock
Labels: graphql

chore(deps): update typescript-eslint monorepo to v5.21.0
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @types/node to v16.11.31
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency typescript to v4.6.4
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency axios to v0.27.2
  packages/axios/package.json
  yarn.lock
Labels: none

chore(deps): update dependency eslint to v8.14.0
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update react monorepo
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update github/codeql-action action to v2
  .github/workflows/codeql-analysis.yml
Labels: none

chore(deps): update babel monorepo
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  tools/package.json
  yarn.lock
Labels: api, graphql, utils

chore(deps): update dependency @rollup/plugin-node-resolve to v13.3.0
  packages/api/package.json
  packages/axios/package.json
  packages/graphql/package.json
  packages/resources/package.json
  packages/utils/package.json
  yarn.lock
Labels: api, graphql, utils

chore(api): clean out old code
  packages/api/old/AlmaApiSetup.tsx
  packages/api/old/api-promise.ts
  packages/api/old/api-resource.ts
  packages/api/old/api/index.ts
  packages/api/old/api/useApiAutoLoad.ts
  packages/api/old/api/useApiDelete.ts
  packages/api/old/api/useApiGet.ts
  packages/api/old/api/useApiHead.ts
  packages/api/old/api/useApiOptions.ts
  packages/api/old/api/useApiPatch.ts
  packages/api/old/api/useApiPost.ts
  packages/api/old/api/useApiPut.ts
  packages/api/old/api/useApiRequest.ts
  packages/api/old/cache/SwrCache.tsx
  packages/api/old/cache/SwrCacheContext.ts
  packages/api/old/cache/index.ts
  packages/api/old/cache/useSwrCache.ts
  packages/api/old/config/ApiConfig.tsx
  packages/api/old/config/ApiConfigContext.ts
  packages/api/old/config/fetcher.ts
  packages/api/old/config/index.ts
  packages/api/old/index.ts
  packages/api/old/types.ts
  packages/api/old/utils.ts
  packages/api/tests/old/AlmaApiSetup.test.tsx
  packages/api/tests/old/api-promise.test.ts
  packages/api/tests/old/api-resource.test.ts
  packages/api/tests/old/api/useApiAutoLoad.test.ts
  packages/api/tests/old/api/useApiDelete.test.ts
  packages/api/tests/old/api/useApiGet.test.ts
  packages/api/tests/old/api/useApiHead.test.ts
  packages/api/tests/old/api/useApiOptions.test.ts
  packages/api/tests/old/api/useApiPatch.test.ts
  packages/api/tests/old/api/useApiPost.test.ts
  packages/api/tests/old/api/useApiPut.test.ts
  packages/api/tests/old/api/useApiRequest.test.tsx
  packages/api/tests/old/cache/SwrCache.test.tsx
  packages/api/tests/old/cache/useSwrCache.test.tsx
  packages/api/tests/old/config/fetcher.test.ts
  packages/api/tests/old/utils.test.ts
Labels: api

feat(api): url builder utils
  packages/api/src/index.ts
  packages/api/src/utils/index.ts
  packages/api/src/utils/url.ts
  packages/api/tests/utils/url.test.ts
Labels: api

feat(api): ApiResource
  packages/api/src/ApiResource.ts
Labels: api

feat(api): rework fetcher
  packages/api/src/fetcher.ts
  packages/api/src/index.ts
  packages/api/tests/fetcher.test.ts
Labels: api

feat(api): rework types
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/types/fetcher.ts
  packages/api/src/types/index.ts
  packages/api/src/types/request.ts
  packages/api/src/types/response.ts
  packages/api/src/types/utils.ts
Labels: api

feat(api): config context
  packages/api/src/AlmaApiSetup.tsx
  packages/api/src/ApiConfigContext.ts
  packages/api/src/index.ts
  packages/api/tests/AlmaApiSetup.test.tsx
Labels: api

feat(api): common ids
  packages/api/src/hooks/useApiData.ts
Labels: api

feat(api): useApiData
  packages/api/src/hooks/useApiData.ts
  packages/api/src/hooks/useApiRequest.ts
  packages/api/src/types/utils.ts
Labels: api

feat(api): useApiRequest
  packages/api/src/fetcher.ts
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useApiRequest.ts
  packages/api/src/index.ts
  packages/api/src/types/fetcher.ts
  packages/api/src/types/response.ts
  packages/api/src/types/utils.ts
  packages/api/src/utils/url.ts
  packages/api/tests/fetcher.test.ts
  packages/api/tests/hooks/useApiRequest.test.tsx
Labels: api

feat(api): useApiGet
  packages/api/src/hooks/useApiGet.ts
Labels: api

feat(resource): custom resource type
  packages/api/src/hooks/useApiData.ts
  packages/resources/src/warehouse.ts
Labels: api

feat(api): specialized methods
  packages/api/src/hooks/useApiGet.ts
  packages/api/src/hooks/useApiRequest.ts
  packages/api/tests/hooks/useApiRequest.test.tsx
Labels: api

feat: useApiRequest
  packages/api/src/hooks/useApiRequest.ts
  packages/resources/src/warehouse.ts
Labels: api

feat(api): reduce syntax
  packages/api/src/hooks/useApiData.ts
  packages/api/src/hooks/useApiRequest.ts
Labels: api

chore: setup sample app
  package.json
  samples/.babelrc
  samples/package.json
  samples/public/index.html
  samples/public/manifest.json
  samples/public/robots.txt
  samples/src/index.tsx
  samples/tsconfig.json
  samples/webpack.common.ts
  samples/webpack.dev.ts
  samples/webpack.prod.ts
  samples/webpack.stats.ts
  yarn.lock
Labels: none

fix(api): typings
  packages/api/src/hooks/useApiData.ts
  packages/resources/src/useWarehouse.ts
  samples/package.json
  samples/src/ApiData.tsx
  samples/src/App.tsx
  yarn.lock
Labels: api

chore: fix webpack issues
  packages/api/.babelrc.cjs
  packages/api/gulpfile.js
  packages/api/package.json
  packages/api/src/hooks/index.ts
  packages/resources/.babelrc.cjs
  packages/resources/gulpfile.js
  packages/resources/package.json
  packages/utils/.babelrc.cjs
  packages/utils/gulpfile.js
  packages/utils/package.json
  samples/package.json
  samples/src/App.tsx
  samples/src/index.tsx
  yarn.lock
Labels: api, utils

feat(api): hook builder
  packages/api/src/api.ts
  packages/api/src/hooks/useApiData.ts
  packages/api/src/index.ts
  packages/resources/src/useWarehouse.ts
  packages/resources/src/warehouse.ts
  samples/src/ApiData.tsx
Labels: api

feat(api): useApi tests
  packages/api/tests/hooks/useApi.test.tsx
Labels: api

.github/labeler.yml:

api: packages/api/**/*
graphql: packages/graphql/**/*
utils: packages/utils/**/*
