Repository Jujulego/alma, pull requests merged in 2021-09, with the labels that each got.

#5 Api module
  .github/workflows/publish.yml
  .idea/alma.iml
  .idea/runConfigurations/All_Tests__api_.xml
  .yarn/versions/c90ff4ec.yml
  .yarnrc.yml
  packages/api/.eslintrc.json
  packages/api/.gitignore
  packages/api/.npmignore
  packages/api/jest.config.js
  packages/api/package.json
  packages/api/setup-tests.ts
  packages/api/sonar-project.properties
  packages/api/src/ApiCache.tsx
  packages/api/src/CacheContext.ts
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/api/src/useApi.ts
  packages/api/src/useDeleteRequest.ts
  packages/api/src/useGetRequest.ts
  packages/api/src/usePostRequest.ts
  packages/api/tests/useApi.test.ts
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
  tsconfig.base.json
  yarn.lock
Labels: enhancement

#7 Mark axios as a peer dependency
  .github/labeler.yml
  .yarn/versions/3a801c62.yml
  packages/api/package.json
  packages/api/sonar-project.properties
  yarn.lock
Labels: bug

#6 Test api module
  .eslintrc.json
  .idea/codeStyles/Project.xml
  .yarn/versions/4f2ef55b.yml
  package.json
  packages/api/package.json
  packages/api/src/ApiCache.tsx
  packages/api/src/useApi.ts
  packages/api/tests/ApiCache.test.tsx
  packages/api/tests/useApi.test.ts
  packages/api/tests/useDeleteRequest.test.ts
  packages/api/tests/useGetRequest.test.tsx
  packages/api/tests/usePostRequest.test.ts
  yarn.lock
Labels: api

#13 Add status and error
  .yarn/versions/5ba36e1a.yml
  packages/api/src/types.ts
  packages/api/src/useApi.ts
  packages/api/src/useDeleteRequest.ts
  packages/api/src/useGetRequest.ts
  packages/api/src/usePostRequest.ts
  packages/api/tests/useDeleteRequest.test.ts
  packages/api/tests/useGetRequest.test.tsx
  packages/api/tests/usePostRequest.test.ts
Labels: enhancement, api

#16 Factorize api promise code
  .yarn/versions/89e9b36b.yml
  packages/api/src/api-promise.ts
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/api/src/useDeleteRequest.ts
  packages/api/src/usePostRequest.ts
Labels: bug, api

#17 Reduce bundle size
  .yarn/versions/e4b7b9d9.yml
  packages/api/README.md
  packages/utils/README.md
  packages/utils/package.json
  packages/utils/src/useDeepMemo.ts
  yarn.lock
Labels: enhancement, utils, api

#19 Setup tree shaking support
  .yarn/versions/0482735c.yml
  packages/api/jest.config.js
  tsconfig.base.json
Labels: enhancement, api

#23 Document api hooks
  .yarn/versions/658f1085.yml
  packages/api/README.md
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/api/src/useApi.ts
  packages/api/src/useApiDelete.ts
  packages/api/src/useApiGet.ts
  packages/api/src/useApiHead.ts
  packages/api/src/useApiOptions.ts
  packages/api/src/useApiPatch.ts
  packages/api/src/useApiPost.ts
  packages/api/src/useApiPut.ts
  packages/api/src/useDeleteRequest.ts
  packages/api/src/useGetRequest.ts
  packages/api/src/usePostRequest.ts
  packages/api/tests/useApi.test.ts
  packages/utils/README.md
  packages/utils/src/useDeepMemo.ts
  packages/utils/src/useInterval.ts
  packages/utils/src/usePrevious.ts
Labels: documentation, utils, api

#25 Add api resource hook builder
  .github/workflows/publish.yml
  .yarn/versions/a22c32b1.yml
  packages/api/src/api-promise.ts
  packages/api/src/api-resource.ts
  packages/api/src/api/useApiDelete.ts
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/src/api/useApiPatch.ts
  packages/api/src/api/useApiPost.ts
  packages/api/src/api/useApiPut.ts
  packages/api/src/api/useDeleteRequest.ts
  packages/api/src/api/useGetRequest.ts
  packages/api/src/api/usePostRequest.ts
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/api/tests/api-promise.test.ts
  packages/api/tests/api-resource.test.ts
  packages/api/tests/api/useApi.test.ts
  packages/api/tests/api/useDeleteRequest.test.ts
  packages/api/tests/api/usePostRequest.test.ts
  packages/api/tests/utils.ts
  packages/api/tsconfig.json
Labels: enhancement, api
