Repository Jujulego/alma, pull requests merged in 2021-10, with the labels that each got.

#44 Rename cache, and add disableSwr option
  .yarn/versions/ea3362b2.yml
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/src/api/useGetRequest.ts
  packages/api/src/cache/CacheContext.ts
  packages/api/src/cache/SwrCache.tsx
  packages/api/src/cache/SwrCacheContext.ts
  packages/api/src/cache/index.ts
  packages/api/tests/api/useGetRequest.test.tsx
  packages/api/tests/cache/SwrCache.test.tsx
Labels: enhancement, api

#41 Add graphql package
  .github/labeler.yml
  .idea/alma.iml
  .idea/runConfigurations/All_Tests__graphql_.xml
  .idea/runConfigurations/All_Tests__utils_.xml
  .yarn/versions/791ecd9d.yml
  packages/graphql/.eslintrc.json
  packages/graphql/.gitignore
  packages/graphql/.npmignore
  packages/graphql/README.md
  packages/graphql/jest.config.js
  packages/graphql/package.json
  packages/graphql/setup-tests.ts
  packages/graphql/sonar-project.properties
  packages/graphql/src/index.ts
  packages/graphql/src/types.ts
  packages/graphql/src/useGraphql.ts
  packages/graphql/src/utils.ts
  packages/graphql/tests/useGraphql.test.tsx
  packages/graphql/tests/utils.test.tsx
  packages/graphql/tsconfig.cjs.json
  packages/graphql/tsconfig.esm.json
  packages/graphql/tsconfig.json
  yarn.lock
Labels: enhancement

#47 Fix graphql error management
  .yarn/versions/b0f167b3.yml
  packages/graphql/src/types.ts
  packages/graphql/src/useGraphql.ts
  packages/graphql/tests/useGraphql.test.tsx
Labels: bug, graphql

#52 Add mutation hook
  .yarn/versions/ec98fb21.yml
  packages/graphql/src/index.ts
  packages/graphql/src/types.ts
  packages/graphql/src/useGqlMutation.ts
  packages/graphql/src/useGqlQuery.ts
  packages/graphql/tests/useGqlMutation.test.tsx
  packages/graphql/tests/useGqlQuery.test.tsx
Labels: enhancement, graphql

#54 Add gqlResource hook builder
  .yarn/versions/c060e9d4.yml
  packages/graphql/src/gql-resource.ts
  packages/graphql/src/gql/index.ts
  packages/graphql/src/gql/useGqlMutation.ts
  packages/graphql/src/gql/useGqlQuery.ts
  packages/graphql/src/gql/useMutationRequest.ts
  packages/graphql/src/gql/useQueryRequest.ts
  packages/graphql/src/index.ts
  packages/graphql/src/useGqlMutation.ts
  packages/graphql/src/useGqlQuery.ts
  packages/graphql/tests/gql-resource.test.ts
  packages/graphql/tests/gql/useGqlMutation.test.tsx
  packages/graphql/tests/gql/useGqlQuery.test.tsx
  packages/graphql/tests/gql/useMutationRequest.test.tsx
  packages/graphql/tests/gql/useQueryRequest.test.tsx
  packages/graphql/tests/types.ts
  packages/graphql/tests/useGqlMutation.test.tsx
  packages/graphql/tests/useGqlQuery.test.tsx
Labels: enhancement, graphql

#55 Fix request hooks infinite loop
  .yarn/versions/8dff28fa.yml
  packages/graphql/src/gql/useGqlQuery.ts
Labels: bug, graphql
