Repository Jujulego/alma, pull requests merged in 2022-03, with the labels that each got.

#209 useAsync hook
  .yarn/versions/230d1026.yml
  packages/utils/src/index.ts
  packages/utils/src/useAsync.ts
  packages/utils/tests/useAsync.test.ts
Labels: enhancement

#217 Rework build using flow
  .yarn/versions/e7e8e774.yml
  packages/api/.babelrc.js
  packages/api/gulpfile.ts
  packages/api/package.json
  packages/graphql/.babelrc.js
  packages/graphql/gulpfile.ts
  packages/graphql/package.json
  packages/utils/.babelrc.js
  packages/utils/gulpfile.ts
  packages/utils/package.json
  tools/babel.ts
  tools/dts.ts
  tools/index.ts
  tools/package.json
  tools/rollup.ts
  tools/terser.ts
  tools/tsconfig.json
  tools/typescript.ts
  tools/utils.ts
  yarn.lock
Labels: enhancement, utils, api, graphql

#219 AutoLoad error management
  .yarn/versions/40df502e.yml
  packages/api/src/api/useApiAutoLoad.ts
  packages/api/tests/api/useApiAutoLoad.test.ts
Labels: enhancement, api

#221 Api fetcher config
  .yarn/versions/b47e2290.yml
  packages/api/package.json
  packages/api/src/AlmaApiSetup.tsx
  packages/api/src/api-resource.ts
  packages/api/src/api/useApiAutoLoad.ts
  packages/api/src/api/useApiDelete.ts
  packages/api/src/api/useApiGet.ts
  packages/api/src/api/useApiHead.ts
  packages/api/src/api/useApiOptions.ts
  packages/api/src/api/useApiPatch.ts
  packages/api/src/api/useApiPost.ts
  packages/api/src/api/useApiPut.ts
  packages/api/src/api/useApiRequest.ts
  packages/api/src/config/ApiConfig.tsx
  packages/api/src/config/ApiConfigContext.ts
  packages/api/src/config/fetcher.ts
  packages/api/src/config/index.ts
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/api/tests/AlmaApiSetup.test.tsx
  packages/api/tests/api-resource.test.ts
  packages/api/tests/api/useApiAutoLoad.test.ts
  packages/api/tests/api/useApiDelete.test.ts
  packages/api/tests/api/useApiGet.test.ts
  packages/api/tests/api/useApiHead.test.ts
  packages/api/tests/api/useApiOptions.test.ts
  packages/api/tests/api/useApiPatch.test.ts
  packages/api/tests/api/useApiPost.test.ts
  packages/api/tests/api/useApiPut.test.ts
  packages/api/tests/api/useApiRequest.test.tsx
  packages/api/tests/cache/SwrCache.test.tsx
  packages/api/tests/config/fetcher.test.ts
  packages/graphql/src/gql/useGqlHttp.ts
  packages/graphql/tests/gql/useGqlHttp.test.ts
  yarn.lock
Labels: enhancement, api, graphql
